# Maven
target/

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# Compilados Java
*.class

# Logs
*.log

# Banco de dados local (legado)
*.db

# Pacotes
*.jar
*.war
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# OS
.DS_Store
Thumbs.db
